<div class="sidebar">
  <div class="profilepic">
    <a href="/"><img src="{{ site.author.logo }}" alt="logo"></img></a>
  </div>
  <h3 class="title"><a href="/">{{ site.blog.name }}</a></h3>
  <p font-family="segoepr"><a href="/">{{ site.blog.quote }}</a></p>

  <nav id="nav">
    <ul>
    {% for nav in site.data.nav %}
      <li><a href="{{ nav.href }}"{% if nav.newblank == true %}target="_blank"{% endif %}><i class="{{ nav.icon }}"></i>&nbsp;{{ nav.title }}</a></li>
    {% endfor%}
    </ul>
  </nav> 

  <nav id="sub-nav">
    {% include social.html %}
  </nav>
  <br/>
  
  
 
</div>
    
